// Horizontal navigation settings.
$mango-nav-horizontal-font-family: $base-font-family; 


// Horizontal Dimensions
$mango-nav-horizontal-width: 100%;
$mango-nav-horizontal-height: 100%;

$mango-nav-horizontal-li-width: 100px;

$mango-nav-horizontal-a-padding-top: 0px;
$mango-nav-horizontal-a-padding-bottom: 0px;
$mango-nav-horizontal-a-line-height: 30px;


// Horizontal Design
$mango-nav-horizontal-ul-list-style-type: none;

$mango-nav-horizontal-li-border-right: 1px solid $base-color-dark;
$mango-nav-horizontal-li-a-text-align: center; 

$mango-nav-horizontal-a-background-color: $base-color;

$mango-nav-horizontal-li-a-color: white;
$mango-nav-horizontal-li-a-text-decoration: none;

$mango-nav-horizontal-ul-ul-box-shadow: 0px 1px 3px 0px #333333;

$mango-nav-horizontal-ul-ul-a-background-color: white;
$mango-nav-horizontal-ul-ul-a-hover-background-color: $base-color;
$mango-nav-horizontal-ul-ul-a-color: $base-color-dark;
$mango-nav-horizontal-ul-ul-a-hover-color: white;


// Horinav Layout
.mango-nav-horizontal {
  ul {
    li {
      float: left;
      position: relative;
      a {
        display: block;
      }
      ul {
        display: none; 
      }
      &:hover ul {
        display: block;
        position: absolute;
      }
    }
  }
}

.mango-nav-horizontal:after { 
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}


// Horinav Dimesions
.mango-nav-horizontal {
  width: $mango-nav-horizontal-width;
  //height: $mango-nav-horizontal-height;
  ul {
    li {
      width: $mango-nav-horizontal-li-width;
      a {
        padding-top: $mango-nav-horizontal-a-padding-top;
        padding-bottom: $mango-nav-horizontal-a-padding-bottom;
        line-height: $mango-nav-horizontal-a-line-height;
      }
    }
  }
}


// Horinav Design
.mango-nav-horizontal {
  font-family: $mango-nav-horizontal-font-family; 
  background-color: $base-color;
  ul {
    list-style-type: $mango-nav-horizontal-ul-list-style-type; 
    li {
      border-right: $mango-nav-horizontal-li-border-right;
      a {
        text-decoration: $mango-nav-horizontal-li-a-text-decoration;
        text-align: $mango-nav-horizontal-li-a-text-align;
        background-color: $mango-nav-horizontal-a-background-color;
        color: $mango-nav-horizontal-li-a-color;
          
        &:hover {
          background-color: $base-color-light;
        }
      }
      ul {
        box-shadow: $mango-nav-horizontal-ul-ul-box-shadow; 
        li a {
          background-color: $mango-nav-horizontal-ul-ul-a-background-color;
          border-top: $base-color-dark;
          color: $mango-nav-horizontal-ul-ul-a-color;
          &:hover {
            background-color: $mango-nav-horizontal-ul-ul-a-hover-background-color;
            color: $mango-nav-horizontal-ul-ul-a-hover-color;
          }
        }
      }
    }
  }
}


// Horinav Adaptive/Responsive Layout
.mango-nav-horizontal {
  .mango-menu-label {
    display: none;
  }
  input[type=checkbox] {
    display: none;
    -webkit-appearance: none;
  }

  @media (max-width: $mobile-large-width) {
    .mango-menu-label {
      display: block;
    }
    ul {
      display: none;
    }
    input[type=checkbox]:checked ~ ul {
      display: block;
      li {
        float: none;
      }
    }
  }
}

// Horinav Adaptive/Responsive Styling
.mango-nav-horizontal {
  @media (max-width: $mobile-large-width) {
    label {
      text-align: center;
      line-height: $mango-nav-horizontal-a-line-height;
      background-color: $mango-nav-horizontal-a-background-color;
      color: $mango-nav-horizontal-li-a-color; 
      font-size: 19px;
      font-weight: bold;
      height: 50px;
    } 
    ul li {
      width: 100%;
      font-size: 17px;
      border-top: 1px solid $base-color-dark; 
      a {
        line-height: 50px; 
      }
    } 
  }
}
